
<%- include('partials/header') %>

</br><h1>Welome To MyBlog!</h1></br>

<h3> <%-startingContent%></h3></br>
    

    <% posts.forEach(function(post){ %>
    <h1><%= post.title %></h1>
    <p><%= post.content.substring(0, 100) + " ..." %></p>
    <a href="/posts/<%= post._id %>">Read More</a>
    <% }) %>



<%- include('partials/footer') %>
