<%- include('partials/header') %>

</br><h1><%= title %></h1>
<p><%= content %></p>

    <form action='/posts/<%=title%>' method="post">
        <button type="submit" name="button" value="<%= title%>">Delete</a>
        <input type="hidden" name="title" value="<%= title %>"></input>
    </form>



<%- include('partials/footer') %>